.wrapper {
  width: 250px;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    background-color: grey;
  }

  .title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
  }

  .price-label {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
  }

  .price {
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
  }

  .p-button-danger{
    background-color: rgba(83, 93, 153, 0.817);
    color:white;
  }
}
